---

---
<div class="hero-banner">
  <div id="hero-banner-copy">
    <h1>Superior Cleaning Services</h1>
    <h2>Cleaning excellence guaranteed</h2>
  </div>
  <img src="/uploads/white-bathroom.webp" alt="A sparkling-clean white bathroom with a glass-enclosed shower, two bowl sinks, and a tub." />
</div>

<style>
  .hero-banner {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(50, 50, 209);
  }

  .hero-banner #hero-banner-copy {
    display: flex;
    flex-direction: column;
    margin: auto 2rem auto;
    align-items: flex-end;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
  }

  /* Page main heading */
  .hero-banner h1 {
    /* color: rgb(50, 50, 209); */
    font-size: 4.5rem;
    max-width: 15ch;
    color: white;
    text-align: right;
    font-family: 'Kingsman';
    font-family: 'MouldyCheese';
    font-family: 'Vollkorn';
    line-height: 5rem;
  }

  /* Page main subheading */
  .hero-banner h2 {
    font-family: 'Kingsman';
    /* font-family: 'Vollkorn'; */
    font-size: 2rem;
    color: white;
    /* color: rgb(50, 50, 209); */
    text-align: right;
    margin-top: -1rem;
  }

  .hero-banner img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    /* width: auto; */
  }
</style>