/* SkipLink styles */

a#skip-link {
  font-size: 1rem;
  padding: .5rem;
  text-decoration: underline;
  background-color: rgb(242, 242, 238);
  border: 1px solid rgb(242, 242, 238);
  border-bottom-right-radius: .4rem;
  position: absolute;
  top: -48px;
  left: 0;
  z-index: 9999;
}

@media (prefers-reduced-motion: no-preference) {
  a#skip-link {
    transition: top .25s ease-in-out;
  }
}