---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HeroBanner from '../components/HeroBanner/HeroBanner.astro';
import ContactForm from '../components/ContactForm/ContactForm.jsx';
import ServicesWidget from '../components/ServicesWidget/ServicesWidget.jsx';

---

<Layout title="Homepage | Superior Cleaning Services">
	<main>
    <ServicesWidget client:load />

    <section id="about-us">
      <h2>About Us</h2>
      <div>
        <!-- <div> -->
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <img src="/uploads/diane-flaviano.webp" alt="Flaviano and Diane sit at a table in a restaurant with their arms around each other." />
        <!-- </div> -->
      </div>
    </section>

    <!-- <section id="social">
      powr app
    </section> -->

    <!-- <section id="contact-us">
      <h2>Contact us</h2>
      <p>Leave the dirty work to us - no job is too small! We would love to hear from you.</p>
      <ContactForm client:load/>
    </section> -->
	</main>
</Layout>

<style>
	main {
		margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	}

  #about-us {
    max-width: 1064px;
    margin-bottom: 3rem;
  }

  #about-us h2 {
    font-family: 'Kingsman';
    font-size: 5rem;
    text-align: center;
  }

  #about-us > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }

  #about-us > div img {
    border-radius: 2rem;
  }
  #about-us > div p {
    max-width: 650px;
    font-family: 'Vollkorn';
    font-size: 1.4rem;
  }

  #contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(223, 223, 244);
    width: 100%;
    font-family: 'Vollkorn';
    font-size: 1.2rem;
  }

  #contact-us h2 {
    margin-bottom: unset;
    font-size: 5rem;
    font-family: 'Kingsman';
  }

  @media (max-width: 900px) {
    #about-us {
      max-width: unset;
      width: 100%;
      margin-bottom: 3rem;
      padding: 0 1rem;
    }

  #about-us h2 {
    font-family: 'Kingsman';
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  #about-us > div {
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem;
  }

  #about-us > div img {
    width: 80%;
  }
  #about-us > div p {
    max-width: 650px;
    font-family: 'Vollkorn';
    font-size: 1.4rem;
  }
  }

</style>
