---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HeroBanner from '../components/HeroBanner/HeroBanner.astro';
import ContactForm from '../components/ContactForm/ContactForm.jsx';

---

<Layout title="Homepage | Superior Cleaning Services">
	<main>
		<HeroBanner />

		<section>
      <div id="services-commercial">

      </div>
      <div id="services-residential">

      </div>
    </section>

    <section id="contact-us">
      <ContactForm client:load/>
    </section>
	</main>
</Layout>

<style>
	main {
		margin: 0;
    display: flex;
    flex-direction: column;
	}

</style>
