/* Header styles */

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #101521;
  padding: 0 16px;
  position: fixed;
  width: 100%;
  /* opacity: .9; */
  font-family: 'Vollkorn';
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

/* Logo link */
.logo-link {
  height: 100%;
  height: 70px;
  width: auto;
  border-radius: .5rem;

}

/* Logo image */
.logo {
  height: 70px;
  width: auto;
  border-radius: .5rem;
  margin-right: .5rem;
}

/* <nav> */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2rem;
}

/* List of nav links */
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  padding-right: 16px;
  list-style: none;
}

/* Nav link <a> */
.nav-link {
  text-decoration: none;
}

/* Nav link copy */
.link-copy {
  color: #f5f8e5;
  font-size: 1.2rem;
}

#locally-owned {
  color: #f5f8e5;
  font-size: 1.2rem;
  position: absolute;
  margin: auto;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
  width: fit-content;
}