---

---

<footer>
  <p id="footer-biz-name">Superior Cleaning Services</p>
  <p id="footer-location">Hudson, MA</p>
  <a href="mailto:dianesuperiorclean@gmail.com" id="footer-contact">
    dianesuperiorclean@gmail.com
  </a>
</footer>

<style>
  footer {
    background: #101521;
    text-align: center;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Vollkorn';
  }

  #footer-biz-name {
    color: white;
    font-size: 1.75rem;
    margin: 1rem 0;
  }

  #footer-location {
    font-size: 1.25rem;
    margin-top: unset;
    color: white;
  }

  #footer-contact {
    display: block;
    color: rgb(200, 200, 244);
    text-decoration: none;
    font-size: 1.2rem;
  }

  #footer-easter-egg-wrapper img {
    height: 130px;
    width: 130px;
    border-radius: 1.25rem;
  }

  @media (max-width: 769px) {
    footer {
      position: unset;
      flex-direction: column;
    }
    #footer-credit {
      max-width: 30ch;
      line-height: 2rem;
      align-self: center;
    }

    #footer-easter-egg-wrapper {
      position: unset;
      justify-content: center;
    }
  }
</style>