/* Styles for ServicesWidget */

#services-widget {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(223, 223, 244);
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  /* border-style: double; */
  padding: 1rem 1rem 3rem;
}

#services-widget .content-wrapper {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  gap: 2rem;

}

#services-widget h2 {
  margin: 0 auto;
  font-family: 'Vollkorn';
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.service-image {
  width: 400px;
  height: 400px;
  /* width: 40%; */
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

#service-copy {
  display: flex;
  max-width: 800px;
  width: 60%;
  flex-direction: column;
  background: rgb(201, 201, 243);
  border-radius: .5rem;
  align-items: center;
}
#service-buttons-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 2rem 0;
  justify-content: center;
}

#service-buttons-list-item {
  list-style-type: none;
}

#services-widget button {
  /* cursor: pointer;
  pointer-events: all; */
  z-index: 10;
  text-transform: capitalize;
  font-family: 'Vollkorn';
  border: none;
  background-color: transparent;
  font-size: 2rem;
}

#services-widget button.selected {
  color: red;
}

.service-description {
  max-width: 600px;
  padding: 0 1rem;
  font-family: '';
}

@media (min-width: 900px) and (max-width: 1200px) {
  /* .service-image {
    max-width: 500px;
  } */
}