/* Styles for ServicesWidget */

#our-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(223, 223, 244);
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  /* border-style: double; */
  padding: 1rem 3rem;
  margin-top: 98px;
  scroll-margin-top: 98px;
}

#our-services .content-wrapper {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#our-services h2 {
  margin: 0 auto;
  font-family: 'Kingsman';
  font-size: 5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.service-image {
  width: 400px;
  height: 400px;
  /* width: 40%; */
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

#service-copy {
  display: flex;
  max-width: 800px;
  width: 60%;
  flex-direction: column;
  background: rgb(201, 201, 243);
  border-radius: .5rem;
  align-items: center;
}
#service-buttons-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 2rem 0;
  justify-content: center;
}

#service-buttons-list-item {
  list-style-type: none;
}

#our-services button {
  /* cursor: pointer;
  pointer-events: all; */
  z-index: 10;
  text-transform: capitalize;
  font-family: 'Vollkorn';
  border: none;
  background-color: transparent;
  font-size: 2rem;
}

#our-services button.selected {
  color: red;
}

.service-description {
  max-width: 600px;
  padding: 0 1rem;
  font-family: '';
}

@media (max-width: 1100px) {

  #our-services {
    padding: 1rem;

  }
  #our-services .content-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  } */

  .service-image {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 900px) {
  #our-services {
    width: 100%;
    padding: 1rem;
  }

  #our-services .content-wrapper {
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  #service-copy {
    max-width: unset;
    width: 100%;
  }
}