---
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.jsx';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Superior Cleaning Services" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html, body {
		font-family: system-ui, sans-serif;
		margin: 0;
		padding: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

  @font-face {
    font-family: 'Vollkorn';
    src: url('/fonts/vollkorn-font/VollkornRegular-51aXv.ttf');
  }

  @font-face {
    font-family: 'MouldyCheese';
    src: url('/fonts/mouldy-cheese-font/MouldyCheeseRegular-WyMWG.ttf');
  }

  @font-face {
    font-family: 'Kingsman';
    src: url('/fonts/kingsman-font/KingsmanDemo-1GVgg.ttf');
  }

  @font-face {
    font-family: 'NatureBeauty';
    src: url('/fonts/nature-beauty-font/NatureBeautyPersonalUse-9Y2DK.ttf');
  }
</style>
